@import "tailwindcss";

:root {

	/* color-scheme: light dark; */

	--ff: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;

	--lff: "Oswald";
	--bg-dark: oklch(6.883% 0.03618 302.892 / 0.963);
	--bg-darkDim: oklch(6.883% 0.03618 302.892 / 0.42);
	--bg-darkerDim: oklch(14.792% 0.00441 285.53 / 0.72);
	--bg-dim: oklch(26.862% 0.00003 271.152 / 0.194);
	--bg: oklch(0.15 0.02 299);
	--bg-light: oklch(0.2 0.03 293);
	--cd: oklch(19.82% 0.02993 292.626 / 0.803);
	--pro: oklch(19.82% 0.02993 292.626 / 0.828);
	--text: oklch(0.945 0.06 293);
	--svgHi: oklch(0.93 0.06 293);
	--text-muted: oklch(0.75 0.06 293);
	--text-muted: oklch(0.75 0.06 293);
	--highlight: oklch(0.5 0.04 299);
	--border: oklch(0.4 0.04 299);
	--border-muted: oklch(0.3 0.04 299);
	--border-mutedDim: oklch(29.864% 0.0402 298.538 / 0.540);
	--primary: oklch(62.989% 0.18009 293.169);
	--secondary: oklch(0.76 0.1 119);
	--danger: oklch(0.7 0.05 30);
	--warning: oklch(0.7 0.05 100);
	--success: oklch(0.7 0.05 160);
	--info: oklch(0.7 0.05 260);

	--h1: 1.75rem/1.775rem var(--ff);
	--h2: 1.45rem/1.4375rem var(--ff);
	--h3: 1.125rem/1.77rem var(--ff);
	--h4: 0.875rem/1.25rem var(--ff);
	--nav: 1rem/1.5rem var(--ff);
	--p: 1rem/1.8rem var(--ff);
	--p2: .921rem/1.44rem var(--ff);

	/* --bg-dark: hsl(0, 0%, 6%); */
	--m: hsl(0, 0%, 12%);
	--bglg: hsl(0, 0%, 24%);
	--bgR: hsl(278, 100%, 50%);
	--white: #ffffff;
	--secWhite: hsl(0, 0%, 93%);
	--gray60: hsl(0, 0%, 60%);
	--hori: rgba(255, 255, 255, 0.15);
	--var: rgba(255, 255, 255, 0.10);
	--tags: rgba(255, 255, 255, 0.14);
	--spGray: rgba(37, 34, 34, 1);

	--minWI: 1rem;

	color: var(--text);
	font-family: var(--ff);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: .27rem;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: .3rem;
}

::-webkit-scrollbar-thumb {
	background: var(--hori);
	border-radius: .3rem;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--tags);
}

.vd::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.spC::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.exs::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.exnav::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.sidSug::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.hideScroll::-webkit-scrollbar {
	width: 0;
	height: 0;
}

body {
	background-color: var(--bg-dark);
	overflow: hidden;
}

h1 {
	font: var(--h1);
	font-weight: 500;
}

h2 {
	font: var(--h2);
	font-weight: 500;
}

h3 {
	font: var(--h3);
	font-weight: 500;
}

.p {
	font: var(--p);
}

aside p {
	font: var(--nav);
}

.p2 {
	font: var(--p2);
}

#loader svg path {
	stroke: var(--primary);
	stroke-dasharray: 123;
	stroke-dashoffset: 123;
	animation: logo 1s ease-in-out infinite alternate;
}

@keyframes logo {

  0%{
    stroke-dashoffset: 123;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

.nav p {
	font: var(--p2);
}

.logo svg path {
	fill: var(--primary);
}

.logoText {
	font-family: "Oswald";
	font-size: 1.71rem;
	font-weight: 400;
}

button {
	cursor: pointer;
}

.chsvgs svg path {
	fill: var(--bg);
}

.bg-dark {
	background-color: var(--bg-dark);
}

.bgGray {
	background-color: var(--bg-light);
}

.bgLGray {
	background-color: var(--bglg);
}

.bgWhite {
	background-color: var(--primary);
}

.prime {
	background-color: var(--primary);
}

.tags {
	background-color: var(--tags);
}

.smallT {
	font: var(--p2);
}

.ssmallT {
	font-size: 12px;
}

.borderG {
	border: 1px solid var(--border-muted);
}

.wText {
	color: var(--text);
}

.gText {
	color: var(--text-muted);
}

.vert {
	width: 1px;
	background-color: var(--border-muted);
}

.hi1 {
	height: 1px;
}

.w500 {
	font-weight: 500;
}

.iconBack {
	background-color: var(--primary);
}

main {
	width: 100%;
	container-type: inline-size;
}

.st {
	position: sticky;
	top: 0px;
}

.vc {
	display: grid;
	grid-template-columns: repeat(4, minmax(var(--minWI), 1fr));
}

.tvc {
	display: grid;
	grid-template-columns: repeat(5, minmax(var(--minWI), 1fr));
	column-gap: 1rem;
	row-gap: 2rem;
}

.pvc {
	display: grid;
	grid-template-columns: repeat(5, minmax(var(--minWI), 1fr));
	column-gap: 1rem;
	row-gap: 2rem;
}

@container (min-width: 1700px) {
	.vc {
		column-gap: 1rem;
	}

	/* .tvc {
		column-gap: 1.5rem;
	} */
}

@container (max-width: 1461px) {
	.pvc {
		grid-template-columns: repeat(4, minmax(var(--minWI), 1fr));
	}
}

@container (max-width: 1027px) {
	.pvc {
		grid-template-columns: repeat(3, minmax(var(--minWI), 1fr));
	}
}

@container (max-width: 700px) {
	.pvc {
		grid-template-columns: repeat(2, minmax(var(--minWI), 1fr));
	}
}

@container (max-width: 1691px) {
	.tvc {
		grid-template-columns: repeat(4, minmax(var(--minWI), 1fr));
	}
}

@container (max-width: 1461px) {
	.tvc {
		grid-template-columns: repeat(3, minmax(var(--minWI), 1fr));
	}
}

@container (max-width: 1027px) {
	.tvc {
		grid-template-columns: repeat(2, minmax(var(--minWI), 1fr));
	}
}

@container (max-width: 700px) {
	.tvc {
		grid-template-columns: repeat(1, minmax(var(--minWI), 1fr));
	}
}

@container (max-width: 1444px) {
	.vc {
		grid-template-columns: repeat(3, minmax(var(--minWI), 1fr));
	}
}

@container (max-width: 1005px) {
	.vc {
		grid-template-columns: repeat(2, minmax(var(--minWI), 1fr));
	}
}

@container (max-width: 669px) {
	.vc {
		grid-template-columns: repeat(1, minmax(var(--minWI), 1fr));
	}
}

@media (max-width: 1300px) {

	/* .sidd{
		width: 100dvw;
		position: absolute;
		z-index: 9;
	} */

	.sp {
		display: block;
	}
}